/* configuracion iniciales */
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700;900 & display=swap'); 

/* constantes de diseño */

:root{
/* colores */
--colorEncabezado:#000000; 
--colorPiePagina:#000000af;
--colorEnlace:#2084e7; 
--colorEnlaceSobre:#f8f3fa81; 
/* fuente */
--textos:'Roboto', sans-serif;
--tamTitulos: 8.5rem;
}

/* estilos al body o cuerpo de la pag */
/* selector de etiqueta */
.home-wrapper{
/* imagen de fondo */
background:url('../imagenes/Musica6.jpg');
background-size: cover;

}

/* selector de emcabezado headar */
header{

    width: 100%;
    background-color:var(--colorEncabezado);
    position: fixed;
/* espaciado */
padding: 10px 0;
}

    /* cambiar de tamaño al logo */
    header img{

        width: 200px;
     }

     /* organizar el menu */

     header nav{

        float: right;
        margin-top: 10px;

     }

     /* crear los estilos de seccion home */
/* los id en css se escriben con el simbolo de */
#home{
/* texto centrado */
text-align: center;
/* espaciado superior e inferior */
padding: 250px 0 250px;

}


/* las clases se representan por un .  */
.container{
    margin-left: auto;
    margin-right: auto;
    width: 100;

}


/* utilizar el selector de la etiqueta section */
section{
    /* espaciado superior */
    padding-top: 80;

}

/* en la seccion de home, aplicar estilos al titulo novedades */

#home h2{
    /* fuente */
    font-family: var(--textos);
    /* color de fuente */
    flood-color: blue;
    /* tamaño de fuente */
    font-size: var(--tamTitulos);
    /* negrita al titulo */
    font-weight: 800;
}
     header nav a{
     color: var(--colorenlace);
     text-decoration: none;
     /* background-color: var 
     (--colorenlacesobre);*/
     margin-left: 5px;
     }


/* aplicar estilos al texto en la seccion home */
#home p{
     font-family: var(--texto);
     font-size: 2.3rem
     color#000
    
}


#cine .box{
    display:inline-block;
    /* se divide el 100% del ancho po 3 */
    width: 33%;
    padding: 8px;

}


#cine .box img{
    width: 100%;

}

#teatro .box {
    display:inline-block;
    /* se divide el 100% del ancho por 3 */
    width: 33%;
    padding: 8px;

}   

#teatro .box img{
    width: 100%;

}

#musica .box {
        display:inline-block;
        /* se divide el 100% del ancho por 3 */
        width: 33%;
        padding: 8px;
}


#musica .box img{
    width: 100%;

}


 
/* para los titulos en las secciones */
#teatro, #musica, #cine h2{
    text-align: center !important;
    font-family: var(--textos);
    font-size: 1.5rem;
    font-weight: bold !important;
    margin-top: 90px;
 }

 #teatro, #musica, #cine p{
    text-align: justify;
    font-family: var(--textos);
    font-size: 16px;

} 

/* contacto */

#contacto{
    margin: o auto;
    with: 100%;
    text-align: center;
    background-color:aliceblue
}

#contacto input, textarea{
    width: 600px;
    border-radius: 5px;
    padding: 10px; 20px;

}

/* pie de pag - footer */
footer{
    width: 100%;
    background-color: var(--colorPiePagina);
    color:aliceblue;
    padding: 20px 0;
    text-align: center;
}